body {
  background-color: rgb(255, 0, 234);
}
h1,
h3 {
  text-align: center;
  color: black;
  font-family: "Playfair Display" serif;
  font-weight: bold;
}
p {
  text-align: center;
  font-family: "Poppins" sans-serif;
  font-weight: bold;
  margin: 0;
  line-height: 30px;
}
.btn-branding {
  text-align: center;
  color: white;
  font-size: 18px;
  padding: 12px 20px;
  background-color: blue;
}
.btn-branding-outline {
  padding: 15px 30px;
  font-size: 18px;
  line-height: 27px;
  border-radius: 4px;
  border: 1px;
  background-color: whitesmoke;
  color: rgb(131, 16, 16);
}
