body {
  background-color: rgb(200, 195, 200);
}
h1,
h2,
h3 {
  text-align: center;
  color: black;
  font-family: "Playfair Display" serif;
  font-weight: bold;
  font: size 64px;
}
p {
  text-align: center;
  font-family: "Poppins" sans-serif;
  font-weight: bold;
  margin: 0;
  line-height: 30px;
  font-size: 16px;
}
.btn-branding {
  text-align: center;
  color: white;
  font-size: 18px;
  padding: 12px 20px;
  background-color: blue;
  line-height: 30px;
}
.btn-branding-outline {
  padding: 20px 30px;
  font-size: 18px;
  line-height: 27px;
  border-radius: 4px;
  border: 1px solid;
  background-color: whitesmoke;
  color: rgb(131, 16, 16);
  text-align: center;
  margin: auto;
}
.about-section h1 {
  font-size: 64px;
  line-height: 80px;
}
.about-section h3 {
  font-size: 18px;
  font: optional;
}
